<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rx.dao.DictTimesMapper">
  <resultMap id="BaseResultMap" type="com.rx.entity.DictTimes">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, code, name, value
  </sql>
  
  <select id="getTimesByAbc" resultMap="BaseResultMap">  	
		SELECT 
			* 
		FROM 
			 dict_times as t		 
		WHERE			
			t.code LIKE CONCAT('%',#{abc},'%')
		
	</select>
	
	
  	<select id="getTimesByTimesName" resultType="map">  	
		SELECT 
			* 
		FROM 
			 dict_times as t		 
		WHERE			
			t.name LIKE CONCAT('%',#{name},'%')
		
	</select>
  
</mapper>