<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rx.dao.DoctorPatientMapper">
  <resultMap id="BaseResultMap" type="com.rx.entity.DoctorPatient">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctorId" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, doctor_id, patient_id
  </sql>
</mapper>