<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rx.dao.DrugMapper">
  <resultMap id="BaseResultMap" type="com.rx.entity.Drug">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wareid" jdbcType="VARCHAR" property="wareid" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="abc" jdbcType="VARCHAR" property="abc" />
    <result column="warename" jdbcType="VARCHAR" property="warename" />
    <result column="waresimname" jdbcType="VARCHAR" property="waresimname" />
    <result column="warespec" jdbcType="VARCHAR" property="warespec" />
    <result column="prod_addr" jdbcType="VARCHAR" property="prodAddr" />
    <result column="producer" jdbcType="VARCHAR" property="producer" />
    <result column="wareunit" jdbcType="VARCHAR" property="wareunit" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="saleprice" jdbcType="DECIMAL" property="saleprice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, wareid, barcode, abc, warename, waresimname, warespec, prod_addr, producer, wareunit, 
    status, saleprice
  </sql>
  
  <select id="getDrugByAbc" resultType="BaseResultMap">
  	
		SELECT 
			* 
		FROM 
			drug d		 
		WHERE 
			d.status=1 AND
			d.abc LIKE CONCAT('%',#{abc},'%')
		
	</select>
  
</mapper>