<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rx.dao.LogReceivePatientMapper">
  <resultMap id="BaseResultMap" type="com.rx.entity.LogReceivePatient">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rx.entity.LogReceivePatient">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, created_time, url, patient_id
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    data
  </sql>
</mapper>