<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rx.dao.PatientMapper">
  <resultMap id="BaseResultMap" type="com.rx.entity.Patient">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="old_id" jdbcType="VARCHAR" property="oldId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="old" jdbcType="INTEGER" property="old" />
    <result column="cr_no" jdbcType="VARCHAR" property="crNo" />
    <result column="rn" jdbcType="VARCHAR" property="rn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, old_id, name, sex, old, cr_no, rn
  </sql>
</mapper>