<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>单次剂量单位-数据字典列表</title>
<style>
	.dict-drug-doseunit tr:hover{
		background-color:#CCFFCC;
	}
</style>
</head>
<body>
	<div class="">
		<div class="">
			<table class="table dict-drug-doseunit">
				<thead>
					<tr>
						<th>序号</th>
						<th>名称</th>
						<th>助记码</th>						
					</tr>
				</thead>
				<tbody>				 
					<tr title="双击选择当前记录" th:each="doseunit,iterStat:${doseUnitList}" class="doseunit-item" 
						th:attr="doseunit-id=${doseunit.id}" >
												
						<td th:text="${iterStat.count}"></td>
						<td th:text="${doseunit.name}" th:attr="id='doseunitname-'+${doseunit.id}"></td>
						<td th:text="${doseunit.code}" th:attr="id='doseunitcode-'+${doseunit.id}"></td>
						
					</tr>
					
					<tr th:remove="all">
						<td>1</td>
						<td>粒</td>
						<td>li</td>
					</tr>
					<tr th:remove="all">
						<td>2</td>
						<td>mg</td>
						<td>mg</td>
					</tr>
															
				</tbody>
			</table>
		</div>
	</div>
	
	<script th:src="@{/static/js/hospital/dictdoseunit_table.js}" type="text/javascript"></script>
	
</body>



</html>