<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>药品目录列表</title>
<style>

.drug-category tr:hover{
	background-color:#CCFFCC;
}

.curr-row-drug{
	background-color:cyan;
}

</style>
</head>
<body>
	<div class="">
		<div class="">
			<table class="table drug-category">
				<thead>
					<tr>
						<th>商品码</th>
						<th>商品名</th>
						<th>规格</th>
						<th style="width:80px;">单价</th>
						<th style="width:50px;">单位</th>
						<th>助记码</th>
					</tr>
				</thead>
				<tbody>				 
					<tr title="双击选择当前记录" th:each="drug,iterStat:${drugCategory}" 
						class="drug-item" 
						th:attr="drug-id=${drug.id},index-drug=${iterStat.count}" >
						
						<td th:text="${drug.wareid}" 	th:attr="id='wareid-'+${drug.id}"></td>
						<td th:text="${drug.warename}" 	th:attr="id='warename-'+${drug.id}"></td>
						<td th:text="${drug.warespec}" 	th:attr="id='warespec-'+${drug.id}"></td>
						<td th:text="${drug.saleprice}" th:attr="id='saleprice-'+${drug.id}"></td>						
						<td th:text="${drug.wareunit}" 	th:attr="id='wareunit-'+${drug.id}"></td>
						<td th:text="${drug.abc}" ></td>
					</tr>
					
					<tr th:remove="all">
						<td>123</td>
						<td>感冒清</td>
						<td>1.0g*20片</td>
						<td>12.5</td>
						<td>盒</td>
						<td>glq</td>
					</tr>
					<tr th:remove="all">
						<td>123</td>
						<td>感冒清</td>
						<td>1.0g*20片</td>
						<td>12.5</td>
						<td>盒</td>
						<td>glq</td>
					</tr>					
				</tbody>
			</table>
		</div>
		
		<!-- 加入分隔线 -->	
		<hr style="height:1px;border:none;border-top:1px solid lightgray;">		
		<!-- 加入 分页 -->
		<div th:include="/thymeleaf/common/pager::pager" class="pagerx" style="float: right; margin-right: 100px;"></div>
	</div>
	
	<!-- 返回查询条件  -->
	<script th:inline="javascript">  
		/*<![CDATA[*/			
			var ret_abc = [[${abc}]];  //回传查询条件
			var ret_drugCategory=[[${drugCategory}]];  //返回的药品列表
		/*]]>*/  
	</script>

	<!-- 保存页号与页大小 -->	
	<form>
		<input type="hidden" name="pageNum_drug" id="pageNum_drug" th:value="${pageInfo.pageNum}"> 
		<input type="hidden" name="pageSize_drug" id="pageSize_drug" th:value="${pageInfo.pageSize}">
	</form>
	
	<script th:src="@{/static/js/hospital/drugcategory.js}" type="text/javascript"></script>
	
</body>



</html>