<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>药品目录列表</title>
</head>
<body>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>商品码</th>
						<th>商品名</th>
						<th>规格</th>
						<th>单价</th>
						<td>单位</td>
						<td>助记码</td>
					</tr>
				</thead>
				<tbody>				 
					<tr th:each="drug,iterStat:${drugList}" 
						class="drug-item" 
						th:attr="drug-id=${drug.id}" >
						
						<td th:text="${drug.wareid}" th:attr="id='wareid-'+${drug.id}"></td>
						<td th:text="${drug.warename}" th:attr="id='warename-'+${drug.id}"></td>
						<td th:text="${drug.warespec}" th:attr="id='warespec-'+${drug.id}"></td>
						<td th:text="${drug.saleprice}" th:attr="id='saleprice-'+${drug.id}"></td>						
						<td th:text="${drug.wareunit}" th:attr="id='wareunit-'+${drug.id}"></td>
						<td th:text="${drug.abc}" ></td>
					</tr>
					
					<tr th:remove="all">
						<td>123</td>
						<td>感冒清</td>
						<td>1.0g*20片</td>
						<td>12.5</td>
						<td>盒</td>
						<td>glq</td>
					</tr>
					<tr th:remove="all">
						<td>123</td>
						<td>感冒清</td>
						<td>1.0g*20片</td>
						<td>12.5</td>
						<td>盒</td>
						<td>glq</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
	
	<script th:src="@{/static/js/hospital/drugtable.js}" type="text/javascript"></script>
	
</body>



</html>